DB_PORT=5432
DB_NAME=escola_db
DB_USER=postgres
DB_PASSWORD=your_password_here

########################################
# SPRING
SPRING_JPA_DDL_AUTO=update
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/escola_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=your_password_here

########################################
# JWT
########################################

JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

########################################
# MAIL (Mailtrap Sandbox)
########################################

MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=your_mailtrap_username
MAIL_PASSWORD=your_mailtrap_password

########################################
# PASSWORD RESET
########################################

PASSWORD_RESET_EXPIRATION=900000