<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/secretary/dashboard.html" class="app-brand-link">
          <span class="app-brand-logo demo">
            <img src="/assets/img/favicon/favicon.ico?v=5?v=4" alt="Logo" style="width: 45px; height: auto; object-fit: contain;">
          </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2 text-capitalize">Secretaria</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
            <a href="/secretary/dashboard.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Página Principal">Página Principal</div>
            </a>
        </li>

        <!-- Seção: Gestão de Pessoas -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Gestão de Pessoas</span>
        </li>

        <!-- Alunos -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Alunos">Alunos</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/secretary/create/student.html" class="menu-link">
                        <div data-i18n="Cadastrar aluno">Cadastrar aluno</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/secretary/students.html" class="menu-link">
                        <div data-i18n="Listar alunos">Listar alunos</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Professores -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-chalkboard"></i>
                <div data-i18n="Professores">Professores</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/secretary/create/teacher.html" class="menu-link">
                        <div data-i18n="Cadastrar professor">Cadastrar professor</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/secretary/teachers.html" class="menu-link">
                        <div data-i18n="Listar professores">Listar professores</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Direção -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-id-card"></i>
                <div data-i18n="Direção">Direção</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/secretary/create/principal.html" class="menu-link">
                        <div data-i18n="Criar perfil">Criar perfil</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/secretary/principals.html" class="menu-link">
                        <div data-i18n="Listar direção">Listar direção</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Secretaria -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-folder-open"></i>
                <div data-i18n="Secretaria">Secretaria</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/secretary/create/secretary.html" class="menu-link">
                        <div data-i18n="Criar novo perfil">Criar novo perfil</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/secretary/secretaries.html" class="menu-link">
                        <div data-i18n="Listar secretários">Listar secretários</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Seção: Acadêmico -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Acadêmico</span>
        </li>

        <!-- Turmas -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-group"></i>
                <div data-i18n="Turmas">Turmas</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/secretary/create/classroom.html" class="menu-link">
                        <div data-i18n="Criar turma">Criar turma</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/secretary/classrooms.html" class="menu-link">
                        <div data-i18n="Listar turmas">Listar turmas</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Matérias -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-book"></i>
                <div data-i18n="Matérias">Matérias</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a href="/secretary/create/subject.html" class="menu-link">
                        <div data-i18n="Cadastrar matérias">Cadastrar matérias</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a href="/secretary/subjects.html" class="menu-link">
                        <div data-i18n="Listar matérias">Listar matérias</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Períodos Acadêmicos -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-time-five"></i>
                <div data-i18n="Períodos Acadêmicos">Períodos Acadêmicos</div>
            </a>
            <ul class="menu-sub">

                <li class="menu-item">
                    <a href="/secretary/academic-periods.html" class="menu-link">
                        <div data-i18n="Listar períodos">Listar períodos</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Ano Acadêmico -->
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-calendar"></i>
                <div data-i18n="Ano Acadêmico">Ano Acadêmico</div>
            </a>
            <ul class="menu-sub">

                <li class="menu-item">
                    <a href="/secretary/academic-years.html" class="menu-link">
                        <div data-i18n="Listar anos">Listar anos</div>
                    </a>
                </li>
            </ul>
        </li>
        
        <!-- Seção: Administrativo -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Administrativo</span>
        </li>
        <li class="menu-item">
            <a href="/secretary/manage-classroom.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-link-alt"></i>
                <div data-i18n="Relacionamentos">Relacionamentos</div>
            </a>
        </li>
        
        <!-- Seção: Sistema -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Sistema</span>
        </li>

        <!-- Configurações da escola -->
        <li class="menu-item">
            <a href="/secretary/school-settings.html" class="menu-link">
                <i class="menu-icon tf-icons bx bx-cog"></i>
                <div data-i18n="Configurações da escola">Configurações da escola</div>
            </a>
        </li>
        
        <!-- Seção: Sessão -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Sessão</span>
        </li>

        <!-- Sair -->
        <li class="menu-item">
            <a href="javascript:void(0);" id="btnLogout" class="menu-link">
                <i class="menu-icon tf-icons bx bx-power-off text-danger"></i>
                <div data-i18n="Sair" class="text-danger">Sair</div>
            </a>
        </li>
    </ul>
</aside>





